* {
    font-family: helvetica;
}

#expense-list tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

#head-row {
    background-color: black!important;
    color: white;
}

#expense-list td, #expense-list th {
    padding: 10px 5px;
}

#expense-list tr td:nth-child(1) {
    font-weight: 700;
}

table#expense-list{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}
table#expense-list td{
    word-break: break-all;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.my_button:hover {
    color: #fff !important;
    background-color: #A9A9A9;
}

.my_button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
