<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Expense App{% endblock %}</title>

  <script type="text/javascript"></script>
  <script src="https://use.fontawesome.com/4d0cb8d848.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dataTables.bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='dataTables.bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">
</head>
<body>
  <div class="tab">
      <a href="{{ url_for('expense_list') }}" class="my_button" >Expenses</a>
      <a href="{{ url_for('create') }}" class="my_button" >New Expense</a>
  </div>

  {% block body %}
  {% endblock %}
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>