{% extends "layout.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}


<div> Filter By Category
<select name="category" onchange="renderExpenses(this)">

    <option value="" selected>All</option>
    {% for category in categories %}
        {% if category == selected %}
        <option value="{{ categories[category].name }}" selected>{{ categories[category].name }}</option>
        {% else %}
        <option value="{{ categories[category].name }}">{{ categories[category].name }}</option>
        {% endif %}
    {% endfor %}
</select>
</div>
<table id="expense-list" class="display" width="100%">
    <thead>
        <tr id="head-row">
            <th>ID</th>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Paid To</th>
            <th>Description</th>
        </tr>
    </thead>

</table>

<div>
    <span> Total Loan Taken: {{total_loan_given}} </span>
    <span> Total Loan Given: {{total_loan_taken}} </span>
    <span> Total Investment: {{total_investment}} </span>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script>
var expense_table;
function renderExpenses(category) {
    var value = category.value;
    expense_table.column(2).search(value).draw();
}
</script>
{% endblock %}